# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain app-generated content.
sites/default/files/ctools
sites/default/files/js
sites/default/files/prepro
sites/default/files/styles

# Ignore PhpStorm files
.idea
