# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/default/files

# Protect media files.
!sites/default/files/doc
!sites/default/files/doc/**
!sites/default/files/html
!sites/default/files/html/**
!sites/default/files/images
!sites/default/files/images/**
