$earth-blue: #00207f;
$mars-blue: #1957c7;
$light-blue: #80b6ff;

$table-header: #dfedff;
$table-border: #80b6ff;

$mars-red: #cc1425;
$canada-red: #ff0000;

$mars-orange: #f6d0a1;
$indian-orange: #ff9933;

$mars-green: #009b3a;

$pale-grey: #eee;
$highlight: #fff753;

$quote: #aaa;
