#book-block-menu-1,
#block-system-navigation {
  ul.menu {
    list-style-type: none;
    list-style-image: none;
    margin: 0 0 0 0px;
    padding: 0;

    ul.menu {
      margin: 0 0 0 0px;
      li, a {
        width: 284px;
      }

      ul.menu {
        margin-left: 10px;

        li, a {
          width: 274px;
        }
      }
    }

    li {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0;

      &.collapsed > a {
        background: #1957c7 url('../images/small-white-triangle-right.png') right center no-repeat;

        &:hover {
          background-image: url('../images/small-black-triangle-right.png');
        }
      }

      &.expanded > a {
        background: #1957c7 url('../images/small-white-triangle-down.png') right center no-repeat;

        &:hover {
          background-image: url('../images/small-black-triangle-down.png');
        }
      }

      a {
        display: block;
        width: 284px;
        background-color: #1957c7;
        margin: 0 0 2px 0;
        padding: 5px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        @include border-radius(2px);

        &:hover {
          background-color: gold;
          color: black;
        }
      }
    }
  }
}

#block-block-2 {
  img {
    width: 284px;
    height: 284px;
    max-width: 284px;
  }

  p {
    margin-top: 0;
  }
}

#block-block-3 {
  h2 {
    font-size: 22px;
    margin-top: 0;
  }
}

#block-system-navigation {
  h2 {
    display: none;
  }
}
