aside.l-region--sidebar-first,
aside.l-region--sidebar-second {
  div.block,
  nav.block {
    margin-bottom: 1em;
  }
}

#book-block-menu-1,
#block-system-navigation,
#block-system-user-menu {
  ul.menu {
    list-style-type: none;
    list-style-image: none;
    margin: 0 0 0 0px;
    padding: 0;

    ul.menu {
      margin: 0 0 0 0px;

      ul.menu {
        margin-left: 10px;

        li, a {
          width: 274px;
        }
      }
    }

    li {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0;

      &.collapsed > a {
        background: #1957c7 url('../images/small-white-triangle-right.png') right center no-repeat;

        &:hover {
          background-image: url('../images/small-black-triangle-right.png');
        }
      }

      &.expanded > a {
        background: #1957c7 url('../images/small-white-triangle-down.png') right center no-repeat;

        &:hover {
          background-image: url('../images/small-black-triangle-down.png');
        }
      }

      a {
        display: block;
        background-color: orange;
        color: black;
        margin: 0 0 2px 0;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        @include border-radius(2px);

        &:hover, &.active {
          background-color: gold;
          color: black;
        }
      }
    }
  }

  // Hide the arrow on the top menu item:
  & > ul.menu > li.first > a {
    background-image: none;

    &:hover {
      background-image: none;
    }
  }
}

#block-search-form {
  height: 25px;

  input[type=text],
  input.form-text {
    border-color: royalblue;
  }
}

#block-system-navigation,
#block-system-user-menu {
  h2 {
    display: none;
  }
}

#block-block-2 {
  text-align: center;

  p {
    margin-top: 0;
  }
}

#block-block-3 {
  h2 {
    font-size: 22px;
    margin-top: 0;
  }
}

#block-block-4 {
  @include border-radius(10px);
  background-color: royalblue;
  padding: 10px;

  p {
    margin: 0;
  }

  img {
    width: auto;
    margin-top: 5px;
  }
}

#block-imrs-misc-contents {
  background-color: white;
  padding: 10px;
  @include border-radius(5px);
  border: solid 1px black;
  color: black;
  font-size: 13px;

  h2 {
    margin: 3px 0 7px;
  }

  a {
    &.active {
      color: orange;
    }

    &:hover {
      color: red;
    }
  }
}
