aside.l-region--sidebar-first,
aside.l-region--sidebar-second {
  div.block,
  nav.block {
    margin-bottom: 1em;
  }
}

#book-block-menu-1,
#block-system-navigation,
#block-system-user-menu {
  ul.menu {
    list-style-type: none;
    list-style-image: none;
    margin: 0 0 0 0px;
    padding: 0;

    li {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0;

      a {
        @include reverse-menu-item;
        display: block;
        margin: 0 0 2px 0;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;

        &:hover, &.active {
          @include menu-item;
        }
      }
    }
  }

  // Hide the arrow on the top menu item:
  & > ul.menu > li.first > a {
    background-image: none;

    &:hover {
      background-image: none;
    }
  }
}

#block-search-form {
  height: 25px;
}

#block-system-navigation,
#block-system-user-menu {
  h2 {
    display: none;
  }
}

#block-block-2 {
  text-align: center;

  p {
    margin-top: 0;
  }
}

#block-block-3 {
  h2 {
    font-size: 22px;
    margin-top: 0;
  }
}

#block-block-4 {
  @include reverse-menu-item;
  padding: 10px;

  p {
    margin: 0;
  }

  img {
    width: auto;
    margin-top: 5px;
  }
}

#block-imrs-misc-contents {
  background-color: white;
  padding: 10px;
  @include border-radius(5px);
  border: solid 1px black;
  color: black;
  font-size: 13px;

  h2 {
    margin: 3px 0 7px;
  }
}

#block-mailchimp-lists-imrs-news {
  @include reverse-menu-item;
  padding: 10px;

  h2 {
    margin: 0 0 5px 0;
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-EMAIL,
  #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-email {
    width: 100%;
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-FNAME {
    display: inline-block;
    float: left;
    width: 48%;

    #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-fname {
      width: 100%;
    }
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-LNAME {
    display: inline-block;
    float: right;
    width: 50%;

    #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-lname {
      width: 100%;
    }
  }

  span.form-required {
    color: black;
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-subscribe {
    .description {
      margin-top: 5px;
    }
  }
}
