table.book-navigation__links {
  width: 100%;

  td.book-navigation__previous {
    text-align: left;
  }

  td.td-book-navigation__up {
    text-align: centre;
  }

  td.td-book-navigation__next {
    text-align: right;
  }

  a {
    margin-bottom: 10px;
    color: black;
    background-color: #F6D0A1;
    @include border-radius(3px);
    float: none;
    text-decoration: none;
    padding: 2px 5px;
    width: auto;
    font-size: 13px;

    &:hover {
      color: white;
      background-color: orange;
    }
  }
}
