@mixin button {
  @include background-image(linear-gradient(white, silver));
  @include box-sizing(border-box);
  @include border-radius(3px);
  border: none;
  height: 25px;
  font-size: 14px;
}

@mixin button-hover {
  @include background-image(linear-gradient(yellow, gold));
}

.form-submit {
  @include button;

  &:hover {
    @include button-hover;
  }
}

input[type=text],
input.form-text {
  @include box-sizing(border-box);
  height: 25px;
  padding: 1px 5px;
  border: solid 1px silver;
  @include border-radius(3px);
}

.form-item .description,
.form-actions .description {
  font-size: 12px;
}

form#search-block-form {
  div.form-item-search-block-form {
    height: 25px;
    display: inline-block;
    margin: 0;
    position: relative;

    #edit-search-block-form--2 {
      width: 219px;
      vertical-align: baseline;
      position: absolute;
      top: 0px;
    }
  }

  .form-actions {
    height: 25px;
    display: inline-block;
    margin: 0;
    position: relative;

    .form-submit {
      width: 60px;
      height: 25px;
      vertical-align: baseline;
      position: absolute;
      top: 0px;
      left: 220px;
    }
  }
}

#block-mailchimp-lists-imrs-news {
  background-color: red;
  @include border-radius(10px);
  padding: 10px;
  width: 284px;

  h2 {
    margin: 0 0 5px 0;
  }

  #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-email {
    width: 264px;
  }

  #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-fname,
  #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-lname {
    width: 130px;
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-FNAME,
  .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-LNAME {
    display: inline-block;
  }

  span.form-required {
    color: black;
  }

  .form-item-mailchimp-lists-mailchimp-imrs-news-subscribe {
    .description {
      margin-top: 5px;
    }
  }
}
