.form-submit {
  @include button;

  &:hover {
    @include button-hover;
  }
}

input[type=text],
input.form-text {
  @include box-sizing(border-box);
  height: 25px;
  padding: 1px 5px;
}

input[type=text],
input.form-text,
textarea,
select {
  border: solid 1px $light-blue;
  background-color: $pale-blue;
  @include border-radius(3px);
}

.form-item .description,
.form-actions .description {
  font-size: 12px;
}

form#search-block-form {
  div.form-item-search-block-form {
    display: inline-block;
    float: left;
    width: 70%;
    height: 25px;
    margin: 0;
    position: relative;

    #edit-search-block-form--2 {
      width: 99%;
      vertical-align: baseline;
      position: absolute;
      top: 0px;
    }
  }

  .form-actions {
    display: inline-block;
    float: right;
    width: 30%;
    height: 25px;
    margin: 0;
    position: relative;

    .form-submit {
      width: 99%;
      height: 25px;
      vertical-align: baseline;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}
