html {
  background: $mars-orange url('../images/mars-landscape.jpg') repeat-x scroll bottom center;
  color: white;
}

body {
  background: transparent url('../images/martian-sky.jpg') repeat-x scroll top center;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

div.l-main {
  margin-bottom: 1em;
}

header.l-header {
  height: 20px;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 15px;

  .l-branding {
    width: 100%;

    a.site-logo {
      float: left;
    }

    h1.site-name {
      text-align: center;
      font-size: 40px;
      display: none;

      a {
        color: white;
        text-decoration: none;
      }
    }

    h2.site-slogan {
      display: none;
    }
  }
}

.element-invisible {
  margin: 0;
}

div.l-content {
  background-color: white;
  color: black;
  @include border-radius(5px);
  border: solid 1px black;
  padding: 10px;
  min-height: 1000px;
  margin-bottom: 1em;

  ul.breadcrumb {
    padding: 0;
    margin: 5px 0 15px;

    li {
      display: inline;
      margin: 0 5px 0 0;
      padding: 0 0 0 15px;
      background: url(../images/right-guillemet.png) no-repeat 0 3px;
    }
  }

  p.submitted {
    color: #999;
    font-size: 12px;
    font-style: italic;
  }

  .field--name-body {
    table.timeline {
      &, td, th {
        border: solid 1px #ddd;
      }

      td, th {
        padding: 3px;
      }
    }
  }

  h1 {
    margin-top: 10px;
  }
}

footer.l-footer {
  margin-bottom: 0;
  height: 100px;
  background: transparent url('../images/mars-base.jpg') no-repeat scroll bottom center;

  #block-block-1 {
    display: none;
  }
}

figure {
  margin: 0px auto;
  width: 314px;
  text-align: center;
  border: solid 1px #ccc;
  @include border-radius(3px);
  background-color: #eee;
  padding: 5px;

  img {
    @include box-shadow(#888 2px 2px 4px);
  }

  figcaption {
    text-align: center;
    font-style: italic;
    margin: 5px 0 0 0;
  }
}

.book-navigation {
  margin-top: 30px;
}

.ui-tooltip {
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 14px;
  max-width: 500px;
}

div.ui-tooltip {
  background-color: $mars-red;
  color: white;
  background-image: none;
  border-color: $indian-orange;
}

div.ui-tooltip-content {
  background-color: transparent;
}

span.highlight {
  background-color: yellow;
}

.node--book--full .field {
  li {
    margin: 1em 0;

    p {
      margin: 0;
    }
  }
}
