.node--book--full .field {
  table {
    margin: auto;
    width: 100%;

    tr.odd {
      background-color: $pale-blue;
    }

    tr.even {
      background-color: #f7f7f7;
    }

    td, th {
      padding: 5px;
      border: solid 1px $earth-blue;
      border-collapse: collapse;

      p {
        margin: 0;
      }

      &.num {
        text-align: right;
      }
    }

    th,
    tr.total td {
      background-color: $light-blue;
      color: white;
      font-weight: bold;
    }

    caption {
      font-style: italic;
    }
  }
}

table.mission-days {
  td {
    padding: 5px;
  }

  tr.total {
    border: solid 1px black;
    border-width: 1px 0 1px 0;

    td {
      font-weight: bold;
    }
  }
}

table#hardware-table {
  tr.hardware-rockets {
    background-color: #fefcdc;
  }

  tr.hardware-capsules {
    background-color: #e5ffe2;
  }

  tr.hardware-satellites {
    background-color: #ffecd4;
  }

  tr.hardware-custom {
    background-color: #ffddf1;
  }

  tr.hardware-rovers {
    background-color: #d3e2fe;
  }

  tr.hardware-habs {
    background-color: #ccffff;
  }
}

table#schedule {
  th, td {
    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }
  }
}

table#crew-roles,
table#colour-coding {
  th {
    background-color: #eee;
    color: black;
    text-align: center;
  }

  tr.eng-flight {
    background-color: white;
  }

  tr.eng-mech {
    background-color: #0d7eff;
  }

  tr.eng-chem {
    background-color: #b439ff;
  }

  tr.sci-geol {
    background-color: #ff2800;
  }

  tr.sci-biol {
    background-color: #00bc00;
  }

  tr.sci-med {
    background-color: #fff500;
  }
}

table#hab-atmo {
  width: 250px;
}
