/*
Error: File to import not found or unreadable: compass.
       Load paths:
         /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass
         Compass::SpriteImporter
         /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass
         /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets
         /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-normalize-1.5/stylesheets
         /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/susy-2.2.14/sass
         /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-rgbapng-0.2.1/lib/stylesheets
         /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/toolkit-2.10.2/stylesheets
         Sass::Globbing::Importer
        on line 2 of /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass/imrs.styles.scss

1: // Import external libraries.
2: @import "compass";
3: //@import "breakpoint";
4: //@import "singularitygs";
5: //@import "toolkit-no-css";
6: 
7: // Import variables, abstractions, base styles and components using globbing.

Backtrace:
/Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass/imrs.styles.scss:2
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:44:in `import'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass.\A        Load paths:\A          /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass\A          Compass::SpriteImporter\A          /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass\A          /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets\A          /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-normalize-1.5/stylesheets\A          /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/susy-2.2.14/sass\A          /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/compass-rgbapng-0.2.1/lib/stylesheets\A          /Applications/MAMP/Library/lib/ruby/gems/2.3.0/gems/toolkit-2.10.2/stylesheets\A          Sass::Globbing::Importer\A         on line 2 of /Users/shaun/Sites/marsbase.org/htdocs/sites/all/themes/custom/imrs/sass/imrs.styles.scss\A \A 1: // Import external libraries.\A 2: @import \"compass\";\A 3: //@import \"breakpoint\";\A 4: //@import \"singularitygs\";\A 5: //@import \"toolkit-no-css\";\A 6: \A 7: // Import variables, abstractions, base styles and components using globbing."; }
