aside.l-region--sidebar-first,
aside.l-region--sidebar-second {
  float: left; }
  aside.l-region--sidebar-first div.block,
  aside.l-region--sidebar-first nav.block,
  aside.l-region--sidebar-second div.block,
  aside.l-region--sidebar-second nav.block {
    margin-bottom: 1em; }

#book-block-menu-1 ul.menu,
#block-system-navigation ul.menu,
#block-system-main-menu ul.menu {
  list-style-type: none;
  list-style-image: none;
  margin: 0 0 0 0px;
  padding: 0; }
  #book-block-menu-1 ul.menu li,
  #block-system-navigation ul.menu li,
  #block-system-main-menu ul.menu li {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0; }
    #book-block-menu-1 ul.menu li a,
    #block-system-navigation ul.menu li a,
    #block-system-main-menu ul.menu li a {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZDBhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6d0a1), color-stop(100%, #ff9933));
      background-image: -moz-linear-gradient(#f6d0a1, #ff9933);
      background-image: -webkit-linear-gradient(#f6d0a1, #ff9933);
      background-image: linear-gradient(#f6d0a1, #ff9933);
      color: black;
      border: solid 1px #ff9933;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-size: 14px;
      padding: 5px 10px;
      display: block;
      margin: 0 0 5px 0;
      text-decoration: none;
      font-weight: bold; }
      #book-block-menu-1 ul.menu li a.active, #book-block-menu-1 ul.menu li a:hover,
      #block-system-navigation ul.menu li a.active,
      #block-system-navigation ul.menu li a:hover,
      #block-system-main-menu ul.menu li a.active,
      #block-system-main-menu ul.menu li a:hover {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMTQyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #cc1425));
        background-image: -moz-linear-gradient(#ff0000, #cc1425);
        background-image: -webkit-linear-gradient(#ff0000, #cc1425);
        background-image: linear-gradient(#ff0000, #cc1425);
        border: solid 1px #cc1425;
        color: white; }

#block-search-form {
  height: 25px; }

#block-system-navigation h2,
#block-system-main-menu h2 {
  display: none; }

#block-block-2 {
  text-align: center; }
  #block-block-2 p {
    margin-top: 0; }

#block-block-3 h2 {
  font-size: 22px;
  margin-top: 0;
  font-style: italic;
  text-shadow: 1px 1px 2px #222; }

#block-block-4 {
  background-color: #80b6ff;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center; }
  #block-block-4 p {
    margin: 0; }
  #block-block-4 img {
    width: auto;
    margin-top: 5px; }

#block-block-5 {
  background-color: #80b6ff;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center; }
  #block-block-5 h2 {
    margin-top: 0; }
  #block-block-5 p {
    margin: 0; }
  #block-block-5 .block__content {
    background-color: white;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

#block-imrs-misc-contents {
  background-color: white;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px black;
  color: black;
  font-size: 13px; }
  #block-imrs-misc-contents h2 {
    margin: 3px 0 7px; }

#block-mailchimp-lists-imrs-news {
  background-color: #80b6ff;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: black;
  padding: 10px; }
  #block-mailchimp-lists-imrs-news h2 {
    margin: 0 0 5px 0; }
  #block-mailchimp-lists-imrs-news h2.block__title {
    color: white; }
  #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-EMAIL,
  #block-mailchimp-lists-imrs-news #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-email {
    width: 100%; }
  #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-FNAME {
    display: inline-block;
    float: left;
    width: 48%; }
    #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-FNAME #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-fname {
      width: 100%; }
  #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-LNAME {
    display: inline-block;
    float: right;
    width: 50%; }
    #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-LNAME #edit-mailchimp-lists-mailchimp-imrs-news-mergevars-lname {
      width: 100%; }
  #block-mailchimp-lists-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-subscribe .description {
    margin-top: 5px; }

p#outside-us {
  margin-top: 10px;
  color: black;
  font-style: italic;
  background-color: #eee;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

#contact-icons {
  margin: 20px 0; }
  #contact-icons img {
    margin-right: 5px; }

.field--name-field-html-editor {
  /******************************************************************************/
  /* Base styles */
  /******************************************************************************/
  /* Misc useful styles */
  /******************************************************************************/
  /* Table styles */
  /******************************************************************************/
  /* Crew slots table */
  /******************************************************************************/
  /* Primary components table */
  /******************************************************************************/
  /* Crew roles and colours */
  /******************************************************************************/
  /* Lists */
  /******************************************************************************/
  /* Equations */
  /******************************************************************************/
  /* Figures/images */ }
  .field--name-field-html-editor p {
    margin: 1em 0;
    text-align: justify; }
  .field--name-field-html-editor .title-page h1 {
    margin: 2em 0; }
  .field--name-field-html-editor h2, .field--name-field-html-editor h3, .field--name-field-html-editor h4, .field--name-field-html-editor h5 {
    margin: 2em 0 0; }
  .field--name-field-html-editor h1, .field--name-field-html-editor h2, .field--name-field-html-editor h3, .field--name-field-html-editor h4, .field--name-field-html-editor h5, .field--name-field-html-editor h6 {
    font-family: Museo, Verdana, Arial, Helvetica, sans-serif; }
  .field--name-field-html-editor sub, .field--name-field-html-editor sup {
    line-height: 0; }
  .field--name-field-html-editor sub, .field--name-field-html-editor sup, .field--name-field-html-editor small, .field--name-field-html-editor .small {
    font-size: 75%; }
  .field--name-field-html-editor h4 {
    font-size: 125%; }
  .field--name-field-html-editor h3 {
    font-size: 150%; }
  .field--name-field-html-editor h2 {
    font-size: 175%; }
  .field--name-field-html-editor h1 {
    font-size: 200%;
    margin: 0; }
  .field--name-field-html-editor big, .field--name-field-html-editor .big {
    font-size: 300%; }
  .field--name-field-html-editor th h1, .field--name-field-html-editor th h2, .field--name-field-html-editor th h3, .field--name-field-html-editor th h4 {
    margin: 0; }
  .field--name-field-html-editor a {
    color: royalblue;
    text-decoration: underline; }
  .field--name-field-html-editor p, .field--name-field-html-editor blockquote, .field--name-field-html-editor li, .field--name-field-html-editor h1, .field--name-field-html-editor h2, .field--name-field-html-editor h3, .field--name-field-html-editor h4, .field--name-field-html-editor h5 {
    line-height: 1.25em; }
  .field--name-field-html-editor .nomargin {
    margin: 0 0; }
  .field--name-field-html-editor .indent1 {
    margin-left: 1em; }
  .field--name-field-html-editor .indent2 {
    margin-left: 2em; }
  .field--name-field-html-editor .indent3 {
    margin-left: 3em; }
  .field--name-field-html-editor blockquote,
  .field--name-field-html-editor .quote {
    margin: 2em;
    color: #777; }
  .field--name-field-html-editor blockquote {
    font-style: italic; }
  .field--name-field-html-editor .center {
    text-align: center; }
  .field--name-field-html-editor .italic {
    font-style: italic; }
  .field--name-field-html-editor .bold {
    font-weight: bold; }
  .field--name-field-html-editor .highlight {
    background-color: #fff753; }
  .field--name-field-html-editor table {
    border-collapse: collapse;
    margin: 1em auto;
    width: auto; }
  .field--name-field-html-editor caption {
    font-style: italic;
    margin-bottom: 0.5em; }
  .field--name-field-html-editor tr:nth-child(odd) {
    background-color: #fff; }
  .field--name-field-html-editor tr:nth-child(even) {
    background-color: #eee; }
  .field--name-field-html-editor tr.head, .field--name-field-html-editor th.head {
    background-color: #dfedff; }
  .field--name-field-html-editor tr.total, .field--name-field-html-editor th.total {
    background-color: #FFE1BF; }
  .field--name-field-html-editor tr.subtitle th, .field--name-field-html-editor th.subtitle {
    background-color: #fff;
    font-weight: bold;
    padding-top: 1em; }
  .field--name-field-html-editor tr.bg-silver, .field--name-field-html-editor th.bg-silver {
    background-color: #eee; }
  .field--name-field-html-editor th {
    background: none;
    border: solid 1px #77a;
    padding: 0.5em;
    text-align: left;
    font-weight: normal; }
  .field--name-field-html-editor tr.head th,
  .field--name-field-html-editor tr.total th {
    font-weight: bold; }
  .field--name-field-html-editor th.right {
    text-align: right; }
  .field--name-field-html-editor th p,
  .field--name-field-html-editor td p {
    margin: 0; }
  .field--name-field-html-editor table.equations {
    border: none; }
  .field--name-field-html-editor table.equations tr {
    background: none; }
  .field--name-field-html-editor table.equations th {
    border: none; }
  .field--name-field-html-editor th.selected {
    background-color: #d1ffd5; }
  .field--name-field-html-editor #crew-slots h4 {
    margin-top: 0; }
  .field--name-field-html-editor #crew-slots h5 {
    margin-bottom: 0; }
  .field--name-field-html-editor #crew-slots th {
    vertical-align: middle;
    height: 2em; }
  .field--name-field-html-editor #crew-slots th.head {
    height: auto; }
  .field--name-field-html-editor #crew-slots-3-missions th {
    height: 2em; }
  .field--name-field-html-editor #crew-slots-3-missions tr.brave {
    background-color: #ddd; }
  .field--name-field-html-editor tr.launch-vehicles {
    background-color: #fefcd4; }
  .field--name-field-html-editor tr.space-vehicles {
    background-color: #fed3ed; }
  .field--name-field-html-editor tr.surface-vehicles {
    background-color: #c9dafe; }
  .field--name-field-html-editor tr.capsules {
    background-color: #e0ffdb; }
  .field--name-field-html-editor tr.habitats {
    background-color: #c2ffff; }
  .field--name-field-html-editor tr.satellites {
    background-color: #fee8ca; }
  .field--name-field-html-editor #crew-roles th {
    height: 2.5em; }
  .field--name-field-html-editor #crew-roles th.head {
    text-align: center; }
  .field--name-field-html-editor .crew-colour {
    padding: 3px 5px 1px;
    border: solid 1px #000;
    display: inline-block;
    text-align: center; }
  .field--name-field-html-editor .crew-white {
    background-color: #fff; }
  .field--name-field-html-editor .crew-blue {
    background-color: #4ba2ff; }
  .field--name-field-html-editor .crew-purple {
    background-color: #df98fb; }
  .field--name-field-html-editor .crew-red {
    background-color: #fe6158; }
  .field--name-field-html-editor .crew-green {
    background-color: #99d865; }
  .field--name-field-html-editor .crew-yellow {
    background-color: #fff500; }
  .field--name-field-html-editor ol, .field--name-field-html-editor ul, .field--name-field-html-editor li {
    margin: 1em 0; }
  .field--name-field-html-editor ol, .field--name-field-html-editor ul {
    padding-left: 30px; }
  .field--name-field-html-editor li {
    margin-left: 0;
    text-align: justify; }
  .field--name-field-html-editor ol {
    list-style-type: decimal; }
  .field--name-field-html-editor ol.lower-alpha {
    list-style-type: lower-alpha; }
  .field--name-field-html-editor ol.upper-alpha {
    list-style-type: upper-alpha; }
  .field--name-field-html-editor ul {
    list-style-type: disc; }
  .field--name-field-html-editor .lhs {
    display: inline-block;
    width: 3em;
    margin-right: 0.2em; }
  .field--name-field-html-editor figure {
    width: auto;
    margin: 2em auto;
    text-align: center;
    page-break-inside: avoid; }
  .field--name-field-html-editor img {
    width: 100%;
    text-align: center; }
  .field--name-field-html-editor img.size-9 {
    width: 90%; }
  .field--name-field-html-editor img.size-8 {
    width: 80%; }
  .field--name-field-html-editor img.size-7 {
    width: 70%; }
  .field--name-field-html-editor img.size-6 {
    width: 60%; }
  .field--name-field-html-editor img.size-5 {
    width: 50%; }
  .field--name-field-html-editor img.size-4 {
    width: 40%; }
  .field--name-field-html-editor img.size-3 {
    width: 30%; }
  .field--name-field-html-editor img.size-2 {
    width: 20%; }
  .field--name-field-html-editor img.size-1 {
    width: 10%; }
  .field--name-field-html-editor figcaption {
    font-style: italic;
    margin-top: 0.2em;
    text-align: center; }
  @media print {
    .field--name-field-html-editor body {
      /* To get colours printing correctly from Chrome. */
      -webkit-print-color-adjust: exact;
      margin: 0;
      padding: 0;
      font-size: 10pt;
      font-family: Arial, Helvetica, sans-serif; }
    .field--name-field-html-editor a {
      color: #000; }
    .field--name-field-html-editor body.contents a {
      text-decoration: none; }
    .field--name-field-html-editor body.contents p {
      line-height: 1em; }
    .field--name-field-html-editor sub, .field--name-field-html-editor sup, .field--name-field-html-editor small, .field--name-field-html-editor .small,
    .field--name-field-html-editor table.abbrev th, .field--name-field-html-editor body.references {
      font-size: 7.5pt; }
    .field--name-field-html-editor table.abbrev th sub {
      font-size: 6pt; }
    .field--name-field-html-editor table, .field--name-field-html-editor tr {
      page-break-inside: avoid; }
    .field--name-field-html-editor .new-page {
      page-break-before: always; }
    .field--name-field-html-editor h4 {
      font-size: 12.5pt; }
    .field--name-field-html-editor h3 {
      font-size: 15pt; }
    .field--name-field-html-editor h2 {
      font-size: 17.5pt; }
    .field--name-field-html-editor h1 {
      font-size: 20pt; }
    .field--name-field-html-editor big, .field--name-field-html-editor .big {
      font-size: 25pt; }
    .field--name-field-html-editor figure {
      margin: 24px auto; }
    .field--name-field-html-editor img {
      width: 5in; }
    .field--name-field-html-editor img.size-9 {
      width: 4.5in; }
    .field--name-field-html-editor img.size-8 {
      width: 4in; }
    .field--name-field-html-editor img.size-7 {
      width: 3.5in; }
    .field--name-field-html-editor img.size-6 {
      width: 3in; }
    .field--name-field-html-editor img.size-5 {
      width: 2.5in; }
    .field--name-field-html-editor img.size-4 {
      width: 2in; }
    .field--name-field-html-editor img.size-3 {
      width: 1.5in; }
    .field--name-field-html-editor img.size-2 {
      width: 1in; }
    .field--name-field-html-editor img.size-1, .field--name-field-html-editor img.flag {
      width: 0.5in; } }

.book-navigation {
  margin-bottom: 10px; }
  .book-navigation ul.menu {
    display: none; }
  .book-navigation table {
    width: 100%; }
  .book-navigation td {
    width: 33%; }
    .book-navigation td.td-book-navigation__previous {
      text-align: left; }
    .book-navigation td.td-book-navigation__up {
      text-align: center; }
    .book-navigation td.td-book-navigation__next {
      text-align: right; }
    .book-navigation td a {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZDBhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6d0a1), color-stop(100%, #ff9933));
      background-image: -moz-linear-gradient(#f6d0a1, #ff9933);
      background-image: -webkit-linear-gradient(#f6d0a1, #ff9933);
      background-image: linear-gradient(#f6d0a1, #ff9933);
      color: black;
      border: solid 1px #ff9933;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-size: 14px;
      padding: 5px 10px;
      float: none;
      width: auto;
      text-decoration: none;
      display: inline; }
      .book-navigation td a:hover {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMTQyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #cc1425));
        background-image: -moz-linear-gradient(#ff0000, #cc1425);
        background-image: -webkit-linear-gradient(#ff0000, #cc1425);
        background-image: linear-gradient(#ff0000, #cc1425);
        border: solid 1px #cc1425;
        color: white; }

.section-acknowledgements .td-book-navigation__up {
  display: none; }

h1 {
  font-family: Museo, Verdana, Arial, Helvetica, sans-serif; }

.form-submit {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZDBhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6d0a1), color-stop(100%, #ff9933));
  background-image: -moz-linear-gradient(#f6d0a1, #ff9933);
  background-image: -webkit-linear-gradient(#f6d0a1, #ff9933);
  background-image: linear-gradient(#f6d0a1, #ff9933);
  color: black;
  border: solid 1px #ff9933;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 10px; }
  .form-submit:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMTQyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #cc1425));
    background-image: -moz-linear-gradient(#ff0000, #cc1425);
    background-image: -webkit-linear-gradient(#ff0000, #cc1425);
    background-image: linear-gradient(#ff0000, #cc1425);
    border: solid 1px #cc1425;
    color: white; }

input[type=text],
input.form-text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  padding: 1px 5px; }

input[type=text],
input.form-text,
textarea,
select {
  border: solid 1px #80b6ff;
  background-color: #dfedff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.form-item .description,
.form-actions .description {
  font-size: 12px; }

form#search-block-form div.form-item-search-block-form {
  display: inline-block;
  float: left;
  width: 70%;
  height: 25px;
  margin: 0;
  position: relative; }
  form#search-block-form div.form-item-search-block-form #edit-search-block-form--2 {
    width: 99%;
    vertical-align: baseline;
    position: absolute;
    top: 0px; }
form#search-block-form .form-actions {
  display: inline-block;
  float: right;
  width: 30%;
  height: 25px;
  margin: 0;
  position: relative; }
  form#search-block-form .form-actions .form-submit {
    width: 99%;
    height: 25px;
    vertical-align: baseline;
    position: absolute;
    top: 0px;
    right: 0px; }

#mailchimp-lists-user-subscribe-form-imrs-news {
  background-color: white;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #mailchimp-lists-user-subscribe-form-imrs-news .form-item-mailchimp-lists-mailchimp-imrs-news-mergevars-EMAIL {
    margin-bottom: 5px; }
  #mailchimp-lists-user-subscribe-form-imrs-news .form-submit {
    width: 100%; }
  #mailchimp-lists-user-subscribe-form-imrs-news .mailchimp-newsletter-wrapper .form-type-checkbox label {
    font-weight: bold; }

#edit-mailchimp-lists-mailchimp-imrs-news-title {
  font-weight: bold; }
  #edit-mailchimp-lists-mailchimp-imrs-news-title .description {
    font-weight: normal; }

#social-icons {
  margin: 15px 0 20px; }

#social-icons img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  vertical-align: bottom; }

a,
a:link,
a:visited {
  color: #1957c7;
  text-decoration: underline; }

a:focus,
a:active,
a.active {
  color: #ff9933; }

a:hover {
  color: #ff0000; }

img, media {
  max-width: 100%; }

#book-cover {
  float: right;
  margin: 0 0 10px 10px; }

@media all and (max-width: 500px) {
  #book-cover {
    float: none;
    text-align: center; } }
html {
  background: #f6d0a1 url("../images/mars-landscape.jpg") repeat-x scroll bottom center;
  color: white; }

body {
  background: transparent url("../images/martian-sky.jpg") repeat-x scroll top center;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

div.l-main {
  margin-bottom: 1em; }

header.l-header {
  height: 20px;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 15px; }
  header.l-header .l-branding {
    width: 100%; }
    header.l-header .l-branding a.site-logo {
      float: left; }
    header.l-header .l-branding h1.site-name {
      text-align: center;
      font-size: 40px;
      display: none; }
      header.l-header .l-branding h1.site-name a {
        color: white;
        text-decoration: none; }
    header.l-header .l-branding h2.site-slogan {
      display: none; }

.element-invisible {
  margin: 0; }

div.l-content {
  background-color: white;
  color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 1em; }
  div.l-content ul.breadcrumb {
    padding: 0;
    margin: 5px 0 15px; }
    div.l-content ul.breadcrumb li {
      display: inline;
      margin: 0 5px 0 0;
      padding: 0 0 0 15px;
      background: url(../images/right-guillemet.png) no-repeat 0 3px; }
  div.l-content p.submitted {
    color: #999;
    font-size: 12px;
    font-style: italic; }
  div.l-content .field--name-body table.timeline, div.l-content .field--name-body table.timeline td, div.l-content .field--name-body table.timeline th {
    border: solid 1px #ddd; }
  div.l-content .field--name-body table.timeline td, div.l-content .field--name-body table.timeline th {
    padding: 3px; }
  div.l-content h1 {
    margin-top: 10px; }

footer.l-footer {
  margin-bottom: 0;
  height: 100px;
  background: transparent url("../images/mars-base.jpg") no-repeat scroll bottom center; }
  footer.l-footer #block-block-1 {
    display: none; }

.book-navigation {
  margin-top: 30px; }

.ui-tooltip {
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 14px;
  max-width: 500px; }

div.ui-tooltip {
  background-color: #cc1425;
  color: white;
  background-image: none;
  border-color: #ff9933; }

div.ui-tooltip-content {
  background-color: transparent; }

span.highlight {
  background-color: yellow; }

.node--book--full .field li {
  margin: 1em 0; }
  .node--book--full .field li p {
    margin: 0; }

.node--page table {
  width: 500px;
  max-width: 100%;
  margin: auto;
  border-collapse: collapse; }
  .node--page table th {
    background-color: #dfedff;
    text-align: center; }
  .node--page table td, .node--page table th {
    padding: 5px;
    border: solid 1px #80b6ff; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted; }

div.has-sidebar-second div.l-content,
div.has-sidebar-second aside.l-region--sidebar-second {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px; }

@media (min-width: 44em) {
  div.has-sidebar-second div.l-content {
    width: calc(66.6% - 15px);
    margin-right: 5px; }

  div.has-sidebar-second aside.l-region--sidebar-second {
    width: calc(33.3% - 15px);
    margin-left: 5px; } }
@media (min-width: 70em) {
  div.has-sidebar-second div.l-content {
    width: calc(75% - 15px); }

  div.has-sidebar-second aside.l-region--sidebar-second {
    width: calc(25% - 15px); } }

/*# sourceMappingURL=imrs.styles.css.map */
