@mixin button {
  @include background-image(linear-gradient($mars-orange, $indian-orange));
  color: black;
  border: solid 1px $indian-orange;
  @include box-sizing(border-box);
  @include border-radius(3px);
  font-size: 14px;
  padding: 5px 10px;
}

@mixin button-hover {
  @include background-image(linear-gradient($canada-red, $mars-red));
  border: solid 1px $mars-red;
  color: white;
}
