@mixin button {
  @include background-image(linear-gradient($light-blue, $mars-blue));
  border: solid 1px $mars-blue;
  color: white;

  @include box-sizing(border-box);
  @include border-radius(3px);
  height: 25px;
  font-size: 14px;
}

@mixin button-hover {
  @include background-image(linear-gradient($canada-red, $mars-red));
  border: solid 1px $mars-red;
  color: white;
}
